// bower:scss
// endbower
@import "modules/variables";
@import "modules/utility";
@import "partials/menu";
@import "partials/typography";
@import "vendor/fontawesome/font-awesome.scss";




// menu item:



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0;
  padding-bottom: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
